.charts {
    display: flex;
    justify-content: center;
    position: relative;
}

.chart-container {
    width: 700px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo-stats-title {
    margin-top: 48px;
    text-align: center;
}