.photo-info {
  position: absolute;
  left: 0;
  bottom: 0;
}

.gallery {
  margin: 0 auto;
}

img {
  margin-bottom: 10px;
}

.collection-photo::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: inset 0 0 40px 0 rgba(0, 0, 0, 0.75);
  transition: all 0.2s ease;
}
.collection-photo:hover::after {
  box-shadow: inset 0 0 40px 10px rgba(0, 0, 0, 0.75);
}

.collection-photo {
  display: block;
  position: relative;
}
