.photos {
  display: flex;
  justify-content: center;
}

.photo-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  bottom: 18px;
  align-items: center;
}

.photo-info .user-avatar {
  margin-left: 6px;
}

.photo-info .username {
  font-weight: 600;
  color: #ffffff;
  display: inline-block;
  margin-left: 6px;
}

.username:hover {
  color: #ddd9d9;
  transition: all 0.2s ease;
}

.gallery {
  margin: 0 auto;
  overflow: hidden;
}

.icon-circle {
  font-size: 22px;
  color: #ffffff !important;
  margin-right: 12px;
  border-radius: 24px;
  padding: 6px;
}

.icon-circle:hover,
.icon-download:hover {
  background: #000000;
  transition: all 0.2s ease;
}

.download-container {
  position: relative;
}

.icon-download {
  position: absolute;
  top: 0;
  right: 0;
  padding: 6px;
  color: #ffffff !important;
  font-size: 22px;
  border-radius: 24px;
  margin-right: 12px;
  margin-top: 8px;
  cursor: pointer;
}

.photos-container-top {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  padding: 0 128px;
}

.no-results {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

@media (max-width: 425px) {
  .photos-container-top {
    padding: 0 12px;
  }
}
