.Spinner {
  text-align: center;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 30px 50px;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
}
