.user-profile {
  display: flex;
  margin-top: 48px;
  align-items: center;
  justify-content: center;
}

.user-avatar {
  border-radius: 50%;
}

.UserProfile {
  display: flex;
  justify-content: center;
}

.user-info {
  margin-left: 18px;
}

.user-bio {
  width: 300px;
}

.user-name {
  position: relative;
  display: inline-block;
}

.user-verified {
  font-size: 12px;
  position: absolute;
  right: -14px;
  top: -5px;
}

.user-extra-info {
  display: flex;
}

.user-location {
  padding: 0 4px;
  margin-right: 12px;
}

.icon-location,
.icon-link {
  margin-right: 4px;
}

.user-interest {
  margin-bottom: 8px;
}

@media (max-width: 768px) {
  .user-profile {
    flex-wrap: wrap;
    justify-content: center;
  }
  .user-bio {
    text-align: center;
  }
}

@media (max-width: 425px) {
  .user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px;
  }

  .user-location {
    padding: 0 !important;
    margin-right: 0px;
  }
}
